services:
  api:
    environment:
      # Redisサーバのホスト名（外部のRedisサーバを利用する場合のみ変更する）
      #- VLB_CACHE_HOSTNAME=cache

      # Redisサーバのポート番号（外部のRedisサーバを利用する場合のみ変更する）
      #- VLB_CACHE_PORT=6379

      # リクエストの結果をキャッシュする時間（秒）
      - VLB_CACHE_EXPIRE_SECS=60

      # ROOTパス（リバースプロキシは以下で動作させる場合に、変更する）
      - VLB_ROOT_PATH=/vcenter-lookup-bridge

      # vCenterのWeb Service APIを呼び出す際、同時に取得するオブジェクト数の最大値
      - VLB_MAX_RETRIEVE_VCENTER_OBJECTS=2000

      # vCenterのWeb Service APIを呼び出す際、同時に取得するイベント数の最大値
      - VLB_MAX_RETRIEVE_EVENTS_PER_VCENTER=1000

      # 1つのリクエストに対して、複数のvCenterのWeb Service APIを呼び出す際、利用する最大スレッド数
      # 接続先vCenterの数以下に設定する
      - VLB_MAX_VCENTER_WEB_SERVICE_WORKER_THREADS=10

      # vCenterのWeb Service APIに利用する際の接続タイムアウト（秒）
      - VLB_VCENTER_CONNECT_TIMEOUT_SEC = 20
      # vCenterのWeb Service APIに利用する際、リトライ間隔（秒）
      - VLB_VCENTER_CONNECT_RETRY_INTERVAL_SEC = 20
      # vCenterのWeb Service APIに利用する際、最大リトライ回数
      - VLB_VCENTER_CONNECT_RETRY_MAX_COUNT = 2

      # vCenterのWeb Service APIに利用する際、コネクションプールを維持する時間（秒）
      # この時間を超過した場合、コネクションを切断する。
      #- VLB_VCENTER_CONNECTION_POOL_TIMEOUT_SEC = 3600

      # vCenterのWeb Service APIにHTTPプロキシ経由での接続を有効化。（True: 有効、False: 無効）
      #- VLB_VCENTER_HTTP_PROXY_ENABLED = True
      # vCenterのWeb Service APIにHTTPプロキシ経由で接続する場合のプロキシのホスト名
      #- VLB_VCENTER_HTTP_PROXY_HOST = "proxy.example.com"
      # vCenterのWeb Service APIにHTTPプロキシ経由で接続する場合のプロキシのポート番号
      #- VLB_VCENTER_HTTP_PROXY_PORT = 8080
      # vCenterのREST APIにHTTPプロキシ経由で接続。
      # ※VLB_VCENTER_HTTP_PROXY_ENABLEDの設定に優先して利用される。
      #- https_proxy = http://proxy.example.com

      # Function logger 有効/無効（True: 有効、False: 無効）
      - VLB_FUNC_LOGGER_ENABLED=True

      # Function logger の出力に引数を含める
      - VLB_FUNC_LOGGER_ARGS_OUTPUT=False

      # Function logger の出力に引数を含める際、各引数の最大長を制限する
      - VLB_FUNC_LOGGER_ARGS_LENGTH_MAX=20

      # ログを出力するディレクトリ
      - VLB_LOG_DIR=/app/log

      # ログのファイル名
      - VLB_LOG_FILE=vcenter_lookup_bridge.log

      # ログレベル
      - VLB_LOG_LEVEL=INFO

    #labels:
      # traefik(リバースプロキシ)の機能により、BASIC認証を有効化します。デフォルトで、以下のユーザ名とパスワードに設定されます。
      #   ユーザ名: apiuser、パスワード: P@ssw0rd
      # traefik.http.middlewares.vcenter_lookup_bridge_auth.basicauth.usersの値は、htpassword形式の文字列です。
      # 必要に応じて、変更してください。
      # ex. $ htpasswd new_user new_password
      #- "traefik.http.middlewares.vcenter_lookup_bridge_auth.basicauth.users=apiuser:$$apr1$$zFHk.cXh$$01OU2XMdDq/OjlunHPCCn/"
      #- "traefik.http.routers.vcenter_lookup_bridge.middlewares=vcenter_lookup_bridge_auth"
